/* === Reusable Classes === */

.input-field {
    margin: 0.2rem 0 1rem;
    width: 15rem;
}

.unit-select {
    width: 4rem;
    margin-bottom: 0.6rem;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
}


.button-highlighted {
    color: var(--highlighted-color);
    border-bottom: solid var(--highlighted-border-width);
}

/* MARK: Move button colors to vars.css */
.button {
    border: solid rgba(0, 0, 0, 0.857);
    background-color: rgb(65, 204, 9);
    
}
.button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    background-color: rgb(51, 157, 8);
}
.button:active {
    background-color: rgb(33, 103, 6);;

}

/* MARK: Use rem? */
.large-button {
    padding: 15px;
    border-radius: 10px;
    font-size: 1.5rem;
}

/* MARK: Use rem? */
.small-button {
    padding: 8px;
    border-radius: 4px;
    font-size: 1rem;
}


/* MARK: Move button colors to vars.css and use rem for border width */
.button-select {
    font-size: 1rem;
    border: solid 1.2px rgba(0, 0, 0, 0.6); 
    padding: 0.5rem 0.6rem 0.4rem;
    border-radius: 0.4rem;

}
.button-select:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.button-select:active {
    background-color: rgba(0, 0, 0, 0.36);
    
}


/* MARK: Move button colors to vars.css and use rem for border width */
.button-test {
    border: solid 4px rgb(0, 200, 0);
    color: rgb(0, 200, 0);

    margin-bottom: 22px;
    transition: 0.2s ease;
    box-shadow: 0 14px rgba(0, 127, 0, 1),0 22px rgba(0, 0, 0, 0.4);

}
.button-test:active {
    transform: translateY(8px);

    box-shadow: 0 6px rgba(0, 127, 0, 1),0 14px rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(100, 200, 0, 1);

}
.button-test:hover {
    border-color: rgba(0, 255, 0, 0.546);
}