* {
    margin: 0;
    padding: 0;
    border: none;
}


/* === Sectioning Styles === */

[data-page="pages"] .on-viewer:not(.on-pages),
[data-page="pages"] .on-editor:not(.on-pages),
[data-page="pages"] .on-editor-edit:not(.on-pages), 
[data-page="pages"] .on-editor-create:not(.on-pages) {
    display: none;
}

[data-page="editor"] .on-viewer:not(.on-editor):not(.on-editor-edit):not(.on-editor-create),
[data-page="editor"] .on-pages:not(.on-editor):not(.on-editor-edit):not(.on-editor-create) {
    display: none;
}

[data-page="editor-edit"] .on-viewer:not(.on-editor):not(.on-editor-edit),
[data-page="editor-edit"] .on-editor-create:not(.on-editor):not(.on-editor-edit),
[data-page="editor-edit"] .on-pages:not(.on-editor):not(.on-editor-edit) {
    display: none;
}

[data-page="editor-create"] .on-viewer:not(.on-editor):not(.on-editor-create),
[data-page="editor-create"] .on-editor-edit:not(.on-editor):not(.on-editor-create),
[data-page="editor-create"] .on-pages:not(.on-editor):not(.on-editor-create) {
    display: none;
}

[data-page="viewer"] .on-editor:not(.on-viewer),
[data-page="viewer"] .on-editor-edit:not(.on-viewer),
[data-page="viewer"] .on-editor-create:not(.on-viewer),
[data-page="viewer"] .on-pages:not(.on-viewer) {
    display: none;
}

.hflex {
    display: flex;
    flex-direction: row;
}

.vflex {
    display: flex;
    flex-direction: column;
}


/* === Element Styles === */

html {
    background-color: var(--standard-background);
    color: var(--standard-font-color);

    font-family: var(--standard-font);
}

header {
    border-bottom: solid var(--standard-border-width) var(--divider-color);
    width: 100%;
    height: 4rem;
    background-color: var(--light-backdrop-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    padding: 0 var(--page-padding);
    box-sizing: border-box;

    /*box-shadow: 0 2px 6px var(--medium-backdrop-color);*/
}

#page-pages, #page-editor {
    padding-left: var(--page-padding);
    padding-right: var(--page-padding);
    box-sizing: border-box;
}


/* In pages stick the topbar */
[data-page="pages"] {
    overflow-y: hidden;
}
[data-page="pages"] main {
    overflow-y: auto;
    height: calc(100vh - 4rem); /* 4rem is the height of the topbar */
    padding-top: calc(var(--standard-gap-width) * (2 / 3));
}

textarea {
    resize: none;
    overflow-y: scroll;
    outline: none;
    box-sizing: border-box;
}

textarea:focus {
    outline: 1px solid var(--focused-border-color);
}


ul > li {
    margin-bottom: 1rem;
}

li:hover {
    background-color: var(--li-background-hover);
}
li > a::before {
    content: '\1F310'; /* \1F310 is 🌐 */
}

li > a span {
    text-decoration: underline;
}
li > a {
    text-decoration: none;
}

select {
    padding: 4px;
    outline: 0;
}

button {
    cursor: pointer;
}

iframe {
    background-color: white;
}

textarea {


    background-color: var(--standard-background);
    color: var(--standard-font-color);
}
textarea, iframe {
    display: block;
    width: 100%;

    height: 40rem;
}

/* === Specific Classes === */
.page-create-edit-container {
    gap: var(--page-gap-width);


}

.equal-width-flexbox {
    flex: 1;
}

.checkbox-button {
    cursor: pointer;
    display: block;
    position: relative;
}


.checkbox-button > input {
    display: none;
}

.checkbox-button:has(input[id="nav-toggle-lang"]) {
    display: flex;
    flex-direction: row;
}
.checkbox-button:has(input[id="nav-toggle-lang"]) > div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.swe-lang, .eng-lang {
    display: block;
}

.checkbox-button:has(input[type="checkbox"]:checked) > .swe-lang,
.checkbox-button:has(input[type="checkbox"]:not(:checked)) > .eng-lang {
    background-color: var(--lang-toggled-background);
    color: var(--lang-toggled-color);
}
.checkbox-button:has(input[type="checkbox"]:checked) > .eng-lang,
.checkbox-button:has(input[type="checkbox"]:not(:checked)) > .swe-lang {
    background-color: var(--lang-untoggled-background);
    color: var(--lang-untoggled-color);
}






.rainbow-thing {
    background: repeating-conic-gradient(in hsl longer hue, rgb(255, 0, 0), rgb(0, 0, 255), rgb(255,0,0)0.001deg);
}




.edit-container {
    display: flex;
    gap: var(--page-gap-width);
}

.text-container {
    border-radius: var(--medium-border-radius);
    display: block;
    border: solid var(--standard-border-width) var(--button-border-color);
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.text-container > * {
    border-radius: var(--medium-border-radius);
}

#editor-html {
    padding: var(--standard-gap-width);
}



.preview {
    background-color: var(--preview-card-background);
    width: 15rem;
    height: 10rem;
    padding: .8rem;
    border-radius: var(--medium-border-radius);
    border: solid var(--standard-border-width) var(--button-border-color);
    margin: var(--page-gap-width);

    cursor: pointer;
}

.preview > h2 {
    margin-bottom: 0.5rem;
}

/* Adds "..." to overflowed titles and preview text */
.preview > * {
    overflow: hidden;
    text-overflow: ellipsis;
}

#view-container {
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.text-area-container > label {
    display: block;
}



#previews-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;

    margin-bottom: var(--standard-gap-width);
}



#topbar-title {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: var(--topbar-ypadding);
}

.topbar-header {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    font-size: 2rem;
}

.topbar-button-container {
    height: 100%;
    display: inline-flex;
    gap: var(--standard-border-width);
    background-color: var(--standard-font-color);
}

.topbar-button {
    display: block;
    font-size: 1rem;
    text-align: center;
    padding: var(--topbar-ypadding) 1rem;
    margin: var(--topbar-ymargin);
    border-radius: var(--topbar-border-radius);



    background-color: var(--button-color);
    color: var(--standard-font-color);
    border: solid var(--standard-border-width) var(--button-border-color);
}



label:has(#nav-toggle-lang) {
    margin: var(--topbar-ymargin);
}
label:has(#nav-toggle-lang) > * {
    padding: var(--topbar-ypadding);
}
label:has(#nav-toggle-lang) > *:last-child {
    border-top-right-radius: var(--topbar-border-radius);
    border-bottom-right-radius: var(--topbar-border-radius);
}
label:has(#nav-toggle-lang) > *:not(:last-child) {
    border-top-left-radius: var(--topbar-border-radius);
    border-bottom-left-radius: var(--topbar-border-radius);
}

[data-page="editor-edit"] label:has(#nav-toggle-viewer-editor),
[data-page="viewer"] label:has(#nav-toggle-viewer-editor) {
    color: var(--standard-font-color);
    background-color: var(--secondary-background);

    display: flex;
    align-items: center;
}



#page-editor {
    margin-top: var(--standard-gap-width);
    box-sizing: border-box;
}



#page-editor > *:last-child {
    gap: var(--standard-gap-width);
}

#page-editor > *:last-child > * {
    /* cancel and save buttons */
    padding: 0.5rem 1rem;
    border-radius: var(--light-border-radius);
}







#content-container,
#content-container > *:first-child {
    height: auto;
    min-height: calc(100vh - 4rem);
}


















.page-section-padding {
    padding: var(--page-gap-width) 0;
}
.page-section-border {
    border: solid;
    border-color: var(--divider-color);
    border-width: var(--standard-border-width) 0;
}



.editor-button {
    background-color: var(--button-color);
    color: var(--standard-font-color);
    border: solid var(--standard-border-width) var(--button-border-color);



    padding: var(--small-button-padding) var(--medium-button-padding);
    border-radius: var(--light-border-radius);
}



.editor-button-container {
    display: flex;
    justify-content: space-between;
}

.item-gap {
    gap: var(--standard-gap-width);
}

.center-vertical {

    align-items: center;
}



#editor-input-header {
    color: var(--standard-font-color);
    

    padding: var(--small-button-padding);
    
    border: solid var(--standard-border-width);
    border-radius: var(--light-border-radius);
    background-color: var(--standard-background);
    display: inline-block;
    margin-left: var(--small-button-padding);
}
#editor-input-header:focus {
    outline-color: blue;
}

button.editor-button:hover, .topbar-button:hover {
    background-color: var(--button-hover);
}

